

    <h1>About Us</h1>
      <div class="card">

    <p class="about">
      Welcome to the world of your new favorite adopted item!
    <br>
    <br>
    <strong>How does it work?</strong>
    <br>
    <br>
    Go through our easy adoption process through this website or click <%= link_to 'here', products_path %>.
    <br>
    <br>
    Upon payment you will receive a confirmation with the location of where your new baby will be for you to
    pick up and bring home!

    <br>
    <br>
    <strong>What do I receive with my Matzo Ball of love?</strong>
    <br>
    <br>
    You'll get your matzo ball, a birth certificate and
    did we mention that the soup comes free?!
    </p>

    </div>
