$varela: 'Varela Round', sans-serif;
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
body {
  background-image: image-url('marble.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}
//
// .soupvid {
//   width: 75%;
//   margin-top: 0;
//   margin-left: 12%;
// }
// .parallax {
//     background-image: url("metal.jpg");
//     min-height: 1000px;
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// nav {
//   text-align: center;
//   background-color: black;
//
//   li {
//     display: inline-block;
//     text-align: center;
//   }
// }
.yield {
  width: 88%;
  margin-left: 12%;
  margin-top: -25%;
}
.paypal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.checkout-btn {
  text-align: center;
}
.checkout {
  * {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
}
.adopt {
  display: flex;
  justify-content: center;

  img {
    padding-bottom: 5%;
    margin-top: 10%;
  }
    a  {
    font-family: $varela;
    padding: 3%;
    opacity: 0.75;
    }
    a:hover {
      background-color: transparent;
      opacity: 1;
    }
    img:hover {
      background-color: transparent;
    }
}
.home{
display: flex;
justify-content: center;

img {
  padding-bottom: 30%;
  padding-left: 10%;
  padding-right: 10%;
}
  a  {
  font-family: $varela;
  padding: 3%;
  text-align: center;
  // width: 50%;
  display: flex;
  flex-flow: column;
  font-size: 150%;
  text-decoration: none;
  color: black;
  opacity: 0.75;
  }
  a:hover {
    background-color: transparent;
    color: orange;
    opacity: 1;
  }
  img:hover {
    background-color: transparent;
  }
}
nav {
  z-index: 100000;
  display: block;
  width: 30%;
  margin-left: -2%;
  color: black;
  margin-top: 15%;
  li {
    list-style-type: none;
    font-size: 160%;
    padding-bottom: 5%;
    a {
      text-decoration: none;
      font-family: $varela;
      color: black;
    }
  }
  img {
  visibility: hidden;
  padding-right: 1%;
}
  li:hover {
    color: orange;
    background-color: transparent;
    img {
      visibility: visible;
      padding-right: 2%;
    }
    a:hover {
      background-color: transparent;
      color: orange;
    }
  }
  a:visited {
    color: black;
  }
}
.post-show {
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
       background-color: #f2f2f2;
       padding: 1%;
       opacity: 0.8;
       text-decoration: none;
       color: black;
       border: 0.5px dotted black;
       border-radius: 5px;
       width: 50%;
       padding-left: 4%;
       padding-right: 4%;
       a {
         text-decoration: none;
         color: black;
         font-family: $montserrat;
       }
       a:hover {
         color: orange;
       }
       h2 {
       font-family: $varela;
       }
       h5 {
         font-family: $raleway;
       }
       p {
         font-family: $montserrat;
         font-size: 130%;
       }
  }

  h1 {
    text-align: center;
    font-family: $varela;
  }
  .card:hover {
    cursor: pointer;
    opacity: 1;
    color: black;
  }
}
.card {
     background-color: #f2f2f2;
     padding: 1%;
     opacity: 0.8;
     text-decoration: none;
     color: black;
     border: 0.5px dotted black;
     border-radius: 5px;
     padding-left: 4%;
     padding-right: 4%;
     a {
       text-decoration: none;
       color: black;
       font-family: $montserrat;
     }
     h2 {
     font-family: $varela;
     // font-size: 200%;
     }
     h5 {
       font-family: $raleway;
     }
     p {
       font-family: $montserrat;
       font-size: 130%;
     }
}
h1 {
  text-align: center;
  font-family: $varela;
  font-size: 300%;
}
.card:hover {
  cursor: pointer;
  opacity: 1;
  color: black;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 15%;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 1%;
  img {
    margin-top: 8px;
    vertical-align: middle;
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.about {
  a {
    color: blue;
    text-decoration: underline;
  }
  a:hover {
    background-color: #f2f2f2;
  }
}
.login-signup {
  text-align: center;
  margin-top: 15%;
  font-family: $montserrat;
  font-size: 200%;
  a {
    color: blue;
    text-decoration: underline;
  }
  a:hover {
    background-color: #f2f2f2;
  }
}
