<div class="confirm">
<h1>Congrats on your new Mazto Ball!</h1>
<h2>Please check your email for payment confirmation</h2>
<h3>Be on the lookout for our instructions email on where to pick up your new bundle of joy!</h3>
</div>
