<div class="checkout">
<h1>Checkout</h1>
<h2>No Paypal Account? No Problem! When clicking on the Paypal button choose to do a one-time guest checkout and pay by credit card</h2>
<div id="paypal-button"></div>
</div>

      <script>
      paypal.Button.render({

      env: 'production', // Or 'sandbox'

      client: {
          sandbox:    'Ad00jWGxiZ7WXHwqFEi33u8NiANuqo0mG2DIBea9ZLFtMLMmsalicmVsunIRO6HaFsYkLbzNeoEjVK6v',
          production: 'AaAqlySc9GR5jP3dzMWGK7LoAveF-YtUyCoA9DPhgvw_JMe7_Mg1lqUqFWiATCwKpJM3qahr_WoHXPfW'
      },

      commit: true, // Show a 'Pay Now' button

      style: {
           color: 'gold',
           size: 'large'
         },

      payment: function(data, actions) {
          return actions.payment.create({
              payment: {
                  transactions: [
                      {
                          amount: { total: '1.00', currency: 'USD' }
                      }
                  ]
              }
          });
      },

      onAuthorize: function(data, actions) {
          return actions.payment.execute().then(function(payment) {
            window.location.replace("/charges/create");
            // window.alert("Congrats on your new Matzo Ball!")
              // The payment is complete!
              // You can now show a confirmation message to the customer
          });
      }

  }, '#paypal-button');
      </script>
</div>
